{% extends 'base/index.html' %}


{% block content %}

<div class="container bg-white">

  <div class="row">

    <div class="col-md-12 px-0 mx-0">

      <ul class="nav shadow-sm">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:user-area' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'todo:todo' %}">ToDo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'account:settings' %}" tabindex="-1" aria-disabled="true">Settings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'account:logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
        </li>

      </ul>
    </div>

    {% block user_area %}
    {% endblock %}

  </div>
</div>


{% endblock content %}