{% extends 'base/index.html' %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-4 offset-md-4 my-3">
                
                {% if not change %}
                <form method="POST" class="border border-light shadow rounded p-3">

                    {% csrf_token %}
                    
                    <h1 class="h2 text-center">Criar uma senha</h1>
                    <div class="form-group">
                        <label for="{{form.password.id_for_label}}">Senha</label>
                        <input type="password" name="{{form.password.name}}" class="form-control form-control-sm" id="{{form.password.id_for_label}}">
                        {% for error in form.password.errors %}
                        <small id="{{form.password.id_for_label}}_Help" class="form-text text-danger">{{error}}</small>
                        {% empty %}
                        <small id="{{form.password.id_for_label}}_Help" class="form-text text-muted">{{form.password.help_text}}</small>
                        {% endfor %}
                      </div>

                      <div class="form-group">
                        <label for="{{form.repeat_password.id_for_label}}">Repetir senha</label>
                        <input type="password" name="{{form.repeat_password.name}}" class="form-control form-control-sm" id="{{form.repeat_password.id_for_label}}">
                        {% for error in form.repeat_password.errors %}
                        <small id="{{form.repeat_password.id_for_label}}_Help" class="form-text text-danger">{{error}}</small>
                        {% empty %}
                        <small id="{{form.repeat_password.id_for_label}}_Help" class="form-text text-muted">{{form.repeat_password.help_text}}</small>
                        {% endfor %}
                      </div>

                        <div class="form-group text-center p-0 m-0">
                            <button type="submit" class="btn-sm btn-primary" style="width: 100%;">Salvar</button>
                        </div>

                </form>
                {% else %}
                
                <p class="text-success text-center bg-light border border-secondary p-2 rounded">
                    <strong>Senha criada com sucesso</strong>
                </p>

                {% endif %}

            </div>


        </div>


    </div>

{% endblock %}