{% extends 'base/index.html' %}

{% block content %}

<div class="container mt-2">

    <div class="row">

        <div class="col-md-4 offset-md-4 bg-white shadow-sm rounded">
            <form class="p-2" method="post">
                {% csrf_token %}
                <legend class="text-center">Identifique-se</legend>
                <div class="dropdown-divider"></div>
                
                <div class="form-group">
                    <label for="{{form.username.id_for_label}}">Username</label>
                    <input type="text" name="{{form.username.name}}" class="form-control form-control-sm" id="{{form.username.id_for_label}}" aria-describedby="{{form.username.name}}">
                    <small id="{{form.username.name}}" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="{{form.password.id_for_label}}">Password</label>
                    <input type="password" name="{{form.password.name}}" class="form-control form-control-sm" id="{{form.password.id_for_label}}">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-sm btn-primary">Sign in</button>
                </div>

                <div class="form-group">
                    <div class="col-12 text-center">
                        <a href="{% url 'account:register'%}">Cadastre-se</a>
                    </div>
                </div>
                

                <hr class="pb-1 shadow-sm">

                <div class="form-group text-center mb-0">
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn bg-light shadow-sm py-2 rounded" style="color: #283044;border: 2px solid #d0ccee;display:block;">
                        <i class="fab fa-facebook-f p-0"></i>acebook</a>
                </div>

                <div class="form-group text-center">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn bg-light shadow-sm py-2 rounded" style="color: #283044;border: 2px solid #d0ccee;display:block;">
                        <i class="fab fa-google p-0"></i>oogle</a>
                </div>

            </form>
        </div>

    </div>
</div>
{% endblock content %}