{% extends 'todo.html' %}

{% block content %}

    <div class="container my-1 bg-white">

        <div class="row">

            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Applications</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Configuration</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        
                        <p class="my-1">{{request.user.first_name}} {{request.user.last_name}}</p>
                        <p><strong class="pr-2">Username:</strong> {{request.user.username}}</p>
                        <p><strong class="pr-2">E-Mail:</strong>{{request.user.email}}</p>
                        
                        {% if not request.user.has_usable_password %}
                            <p>Nenhuma senha foi configurada para esta conta, <a href="{% url 'account:create-password' %}">clique aqui</a> para cria-la.</p>
                        {% endif %}

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {% if social_accounts|length > 0 %}
                        <h1 class="h2 text-center py-2">Aplicativos conectados</h1>            
                        {% endif %}
            
                        <ul class="list-group">
            
                            {% for social_account in social_accounts %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{social_account.provider}}
                                
                                <form action="{% url 'social:disconnect' backend=social_account.provider %}?next={{request.path}}" method="POST">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-danger">Desconectar</button>
                                </form>
                              
                              </li>
                              {% empty %}
                              <p class="text-center">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Não está conectado usando uma conta social</strong>
                                </li>
                            </p>
                            {% endfor %}
                          </ul>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                  </div>
            </div>


        </div>

    </div>

{% endblock content %}