<div class="container-fluid p-0">

      <div class="row">

        <div class="col-md-12">
            <div class="jumbotron bg-info text-white">
                <h1 class="display-4">Lorem ipsum ultricies</h1>
                <p class="lead">
                    purus pulvinar enim cubilia volutpat. ut tempor mi id proin magna porttitor, nulla interdum ad fames donec adipiscing curabitur, aenean dolor auctor malesuada imperdiet.     
                </p>
              </div>
        </div>

        <div class="col-md-10 offset-md-1">
            
            <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Lorem ipsum</h5>
                      <p class="card-text">purus pulvinar enim cubilia volutpat. ut tempor mi id proin magna porttitor, nulla interdum ad</p>
                      <a href="#" class="btn btn-primary">One</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Lorem ipsum</h5>
                      <p class="card-text">purus pulvinar enim cubilia volutpat. ut tempor mi id proin magna porttitor, nulla interdum ad</p>
                      <a href="#" class="btn btn-primary">Two</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Lorem ipsum</h5>
                        <p class="card-text">purus pulvinar enim cubilia volutpat. ut tempor mi id proin magna porttitor, nulla interdum ad</p>
                        <a href="#" class="btn btn-primary">Three</a>
                      </div>
                    </div>
                  </div>

              </div>

        </div>

      </div>

</div>